.navBack{
    width: 100%;
}

.sidebar {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;

}

 .ui.vertical.icon.menu {
    display: inline-block;
    width: 123px;
}


.MuiCollapse-container {
    background-color: #1b1c1d;
}

div.MuiIconButton-root {
    color: white;
}
