.drink-grid-container {
	/* grid-template-columns: auto auto auto auto; */
	/* grid-gap: 10px;
	padding: 10px; */
	/* background: url('../images/A1.jpg') no-repeat center center fixed; */
	/* background: url('../Drinks/drink3.jpg'); */
	/* background-size: cover; */
    background-size: 228px 144px;
}

.drinks {
	background: url('../Drinks/drink3.jpg') no-repeat center center fixed;
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.drinkList {
	/* float: left; */
	/* width: 900px; */
	width: auto;
	padding: 15px;
	font-size: 16px;
	color: currentColor;

	width: auto;
	padding: 15px;
	font-size: 16px;
	color: floralwhite;
	background-color: rgb(0,0,0, 0.4);
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	left: 50%;
    transform: translate(-50%, -5%);
	z-index: 2;
	width: 80%;
}