.name > img:hover{
    opacity: 0.7;
}

/* .name {
  margin: 0% 5% 0% 0%;
} */

@media screen and (max-width: 2000px) and (min-width: 600px) {
  .name {
    margin: 0% 5% 0% 0%;
  }
  .image {
    width: 208px;
    height: 18vh;
    margin: 10% 0% 3% 75%;
    /* height: 200px;
    margin: 0% 0% 0% 38%; */

  }
}


@media screen and (max-width: 600px) {
  .name {
    margin: 0% 1% 0% 0%;
  }
  .image {
    /* margin: 5% 0% 3% 4%; */
    /* height: 103px; */
    height: 18vh;
    width: 33vw;
    margin: 5% 0% 6% 1%;
  }
}

/* .image {
  width: 100%;
  margin: 10% 0% 3% 23%;
} */

.carousel {
    width: 40%;
    margin-left: 30%;
}

.carouselImg {
    width: 80%;
}

.carousel-control-prev {
    left: -20% !important;
}

.carousel-control-next-icon {
  height: 100px;
  /* width: 100px; */
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-indicators { 
    margin-right: 21% !important;
    margin-left: 1% !important;
    display: none !important;

    /* background-color: black; */
}
/* 
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
    text-shadow:
		-2px -2px 0 #ec008c,
		2px -2px 0 #ec008c,
		-2px 2px 0 #ec008c,
		2px 2px 0 #ec008c;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
    text-shadow:
		-2px -2px 0 #ec008c,
		2px -2px 0 #ec008c,
		-2px 2px 0 #ec008c,
		2px 2px 0 #ec008c;
  color: white;
} */