/* .name > img:hover{
    opacity: 0.7;
} */

.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static !important;
    /* left: 20%;
    top: 10%; */
    width: 157%;
    margin: -30% 0% -3% -5%;
    background-color: transparent;
  }

.image {
  width: 100%;
  margin: 7% 0% 3% 23%;
}

.carousel {
    width: 40%;
    margin-left: 30%;
}

.carouselImg {
    width: 80%;
}

.carousel-control-prev {
    left: -20% !important;
}

.carousel-control-next-icon {
  height: 100px;
  /* width: 100px; */
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-indicators { 
    margin-right: 21% !important;
    margin-left: 1% !important;
    display: none !important;

    /* background-color: black; */
}
/* 
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
    text-shadow:
		-2px -2px 0 #ec008c,
		2px -2px 0 #ec008c,
		-2px 2px 0 #ec008c,
		2px 2px 0 #ec008c;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
    text-shadow:
		-2px -2px 0 #ec008c,
		2px -2px 0 #ec008c,
		-2px 2px 0 #ec008c,
		2px 2px 0 #ec008c;
  color: white;
} */