.about {
    /* margin-left: 123px; */
    padding: 25px 1.5% 25px 1.5%;
}

.no {
    /* margin: 0 1% 1.5% 0; */
    width: 48.75%;

    /* height: 145px; */
    border-radius: 5%;
    border-style: solid;
    /* border-color: black; */
    transform: rotate(360deg);
    box-shadow: 5px 5px 5px grey;
    /* margin-left: 5%; */

    /* background-size: contain;
    background: no-repeat center center ; */
    /* width: 40%;
    margin-left: 30%; */
    /* width: 80%; */
    margin: 0% 0% 2% 0%;
}

.yeah {
    /* margin: 0 1% 1.5% 0; */
    width: 48.75%;

    /* height: 145px; */
    border-radius: 5%;
    border-style: solid;
    /* border-color: black; */
    transform: rotate(360deg);
    box-shadow: 5px 5px 5px grey;
    /* margin-left: 5%;  */
}

.story {
    /* border: dashed; */
    /* margin-left: 83px; */
    /* padding: 2%;
    border-color: chartreuse; */
    /* margin-right: 27px; */
    /* float: right; */
    /* margin: -20% 0% 0% 51%; */
    /* width: 48.75%;
    font-size: 1.1em; */
}

@media screen and (max-width: 2000px) and (min-width: 751px) {
    .story {
        float: right;
        margin: 0 0 0 1%;
        width: 48.75%;
        font-size: 1.25em;
        border: dashed;
        padding: 2%;
        border-color: chartreuse;
        /* color: black;
        background-color: white; */
        }
  }
  
  @media screen and (max-width: 764px) {
    .story{
        /* float: right; */
        margin: 0 0 0 1%;
        width: 98.5%;
        font-size: 1.25em;
        border: dashed;
        padding: 2%;
        border-color: chartreuse;
        /* color: black;
        background-color: white; */
    }
    .no {
        width: 100%;
    }    
    .yeah {
        width: 100%;
    }

  }
  